* {
  padding: 0;
  margin: 0;
}

.contGris {
  position: absolute;
  width: 1051px;
  height: 856px;
  left: 600px;
  top: 200px;

  background: #d9d9d9;
  border-radius: 97px;
  transform: rotate(180deg);
  z-index: -1;
}
.toroPortada {
  z-index: 0;
}
