* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
}
.err {
  border: solid 2px red;
}

.done {
  border: solid 2px green;
}

p {
  color: red;
  width: 400px;
  font-size: 12px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 500px;
  padding: 50px;
  border-radius: 20px;
}
.logoForm {
  margin-left: 95px;
  margin-bottom: 20px;
  width: 200px;
}

.contForm {
  width: 500px;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  margin-top: 50px;
  height: 480px;

  background-color: white;
  z-index: 1;
  border: solid 5px #d9d9d9;
}

.contForm2 {
  width: 40rem;
  position: absolute;
  height: 627px;
  background-color: #610000;
  z-index: 0;
  border-radius: 20px;
  left: 350px;
  top: 20px;
  filter: blur(300px);
}
