/* resert de pagina */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* banner */
.contGris {
  position: absolute;
  width: 1002px;
  height: 500px;
  left: 340px;
  top: 150px;
  background: #d9d9d9;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  transform: rotate(180deg);
  z-index: -2;
  margin-bottom: 500px;
}
.toroPortada {
  width: 60rem;
}

.carretera {
  width: 800px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: -1;
  mix-blend-mode: difference;
  opacity: 35%;

  filter: contrast(900%) drop-shadow(16px 16px 20px rgb(26, 11, 11)) invert(75%);
}
.contenedorBanner {
  position: absolute;
  z-index: 0;
  right: 80px;
  top: 150px;
}

.tituloBanner {
  font-family: "Poppins";
  font-style: normal;

  font-size: 50px;
  line-height: 90px;

  color: white;

  margin-left: 800px;

  width: 550px;
  margin-bottom: 0px;
}
.tituloBanner:hover {
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 40px white;
}

.subtituloBanner {
  font-family: "Poppins";
  font-style: normal;

  font-size: 30px;
  line-height: 40px;
  margin-top: 0px;
  margin-left: 810px;
}

.cotizar {
  position: absolute;
  bottom: 150px;
  border: none;
  box-shadow: 0 0 10px;
  font-family: "poppins";
  border: solid 1px white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.cotizar:hover {
  box-shadow: 0 0 20px;
}

.diseno1 {
  width: 10px;
  height: 98px;
  border-radius: 6px;
  position: absolute;
  background-color: #610000;
  right: 550px;
  top: 61px;
  margin-right: 10px;
}
/* footer */

#page-container {
  position: relative;
  min-height: 100vh;
}

/* estilos del footer en pantalla laptor */
#logo {
  width: 90px;

  margin-top: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;

  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 20%;
}

.footer-right {
  padding-right: 100px;
  border: 2px solid black;
  width: 600px;
  border-left: none;
  border-radius: 5px;
  text-align: right;
}

.footer-left {
  padding-left: 50px;
  background-color: gainsboro;
  width: 600px;
  border-radius: 5px;
}
.subtituloBanner {
  font-family: "Poppins";
  font-style: normal;

  font-size: 30px;
  line-height: 40px;
  margin-top: 0px;
  margin-left: 810px;
}

/*inicio navbar*/
header {
  display: flex;
  align-items: center;
}

header:hover {
  border-bottom: solid 3px rgba(97, 0, 0, 0.25);
}
.logoNav {
  font-weight: 600;
  margin-left: 2rem;
}
#menuLogin {
  margin-left: auto;
  margin-right: 2rem;
}
nav ul a li {
  display: inline-block;
  list-style: none;
  margin: 2rem;
  color: #000;
  font-weight: 400;
}

a {
  text-decoration: none;
}
nav ul a li:hover {
  color: #610000;
}

/*  */
.card {
  width: 250px;
  height: 300px;
  border: solid 3px #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  transition: 1s ease;
}

.card:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
  border: solid 3px #610000;
}
.contOp {
  margin-top: 200px;
  margin-bottom: 500px;
  display: flex;
  gap: 55px;

  justify-content: center;
}

.carrusel {
  display: flex;

  height: 500px;
  margin-top: 200px;

  margin: 150px;
}

.carrusel img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s ease;
  border-radius: 5px;
}
.carrusel img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.login {
  color: black;
  width: 30px;
}

.camioneta {
  width: 500px;
  transition: 0.5s ease;
}

.info {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.camioneta:hover {
  width: 300px;
}

.info {
  margin: 150px;
  margin-bottom: 200px;
}

.info2 {
  background-color: #d9d9d9;
  display: flex;
  margin-top: 250px;
  display: flex;

  justify-content: center;
  align-items: center;

  text-align: justify;
}

.repartidor {
  width: 450px;
  margin-left: 150px;
}
.logoCaja {
  position: absolute;
  left: 280px;
  margin-top: 250px;
}
.servper {
  margin: 150px;
}
