* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
body {
  color: black;
  font-family: "Poppins" sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.tabla {
  width: 1000px;
  font-size: 1em;
  margin-top: 2rem;
  border: solid 5px #d9d9d9;
  border-radius: 5px;
  margin-top: 0px;
  text-align: center;
}

.contAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo1 {
  text-align: center;
  color: black;
}
.agregar {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.tituloTabla {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#menuLogin {
  margin-left: auto;
}

li {
  list-style: none;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formCotizador {
  position: absolute;
  top: 200px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.contGris {
  position: absolute;
  width: 1002px;
  height: 400px;

  top: 150px;
  background: white;
  border-radius: 50px;

  transform: rotate(180deg);
  z-index: 0;
  margin-bottom: 50px;
  border: solid 8px #d9d9d9;
  z-index: 0;
}

.contGranate {
  position: absolute;
  width: 2000px;
  height: 400px;
  right: 220px;

  top: 116px;
  background: #610000;
  border-radius: 50px;

  transform: rotate(180deg);

  margin-bottom: 50px;

  z-index: -1;
  filter: blur(250px);
}

.logoCoti {
  position: absolute;

  z-index: 1;
  top: 180px;
  left: 250px;
}

.contNav {
  display: flex;
  align-items: center;
}

.contNav:hover {
  border-bottom: solid 3px rgba(97, 0, 0, 0.25);
}
.logoNav {
  font-weight: 600;
  margin-left: 2rem;
}
#menuLogin {
  margin-left: auto;
  margin-right: 2rem;
}
nav ul a li {
  display: inline-block;
  list-style: none;
  margin: 2rem;
  color: #000;
  font-weight: 400;
}

a {
  text-decoration: none;
}
nav ul a li:hover {
  color: #610000;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* estilos del footer en pantalla laptor */
#logo {
  width: 90px;
}

li {
  list-style: none;
}
.footer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  color: black;

  bottom: 0;
  width: 100%;
}

.footer-right {
  padding-right: 50px;

  width: 50%;
  border-left: none;
  border-radius: 5px;
  text-align: end;
}

.footer-left {
  padding-left: 50px;
  background-color: gainsboro;
  width: 50%;
  border-radius: 5px;
}

.logoFooter {
  margin-top: 3rem;
  font-size: 2em;
}
.contConsultas {
  display: flex;

  gap: 20px;
  margin-bottom: 100px;
}
.card {
  border: dashed 2px #610000;
}
